{% extends "base.html" %}

{% block title %}Server Error{% endblock %}
{% block header %}Server Error{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <div class="py-5">
            <i class="fas fa-server fa-5x text-danger mb-4"></i>
            <h1 class="display-4">500 - Server Error</h1>
            <p class="lead">Something went wrong on our end.</p>
            <a href="/" class="btn btn-primary">
                <i class="fas fa-home"></i> Go Home
            </a>
        </div>
    </div>
</div>
{% endblock %}
